.App {
  width: 1024px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #747474;
}

.paragraph-title {
  font-size: 35px;
  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #363636;
}

/* ----------------------------------------------------- */
/* ----------------HEADER STYLING----------------------- */
/* ----------------------------------------------------- */

.header {
  /* background-color: pink; */
  max-height: 180px;
  margin-top: 50px;
  text-align: center;
}

.header-titles {
  /* background-color: yellow; */
  height: 105px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-line-start {
  /* background-color: blue; */
  font-size: 25px;
}

.header-line-name {
  /* background-color: blueviolet; */
  font-size: 35px;
  font-family: "Montserrat Bold", arial;
  font-weight: 900;
  /* height: 100%; */
  /* margin: auto; */
  color: #363636;
}

.header-line-title {
  /* background-color: lightgreen; */
  font-size: 20px;
}

.header-links {
  /* background-color: lightcyan; */
  display: flex;
  width: 90px;
  margin: auto;
  justify-content: space-between;
}

svg {
  fill: #363636;
}

svg:hover {
  transition: 0.3s;
  fill: #999999;
}

/* ---------------------------------------------------- */
/* ----------------ABOUT STYLING----------------------- */
/* ---------------------------------------------------- */

.about {
  /* background-color: pink; */
  margin-top: 50px;
  text-align: center;
}

.about-title {
  /* background-color: yellow; */
  margin-bottom: 40px;
}

.about-paragraph {
  /* background-color: lightcyan; */
  line-height: 30px;
  width: 50%;
  margin: auto;
}

/* ------------------------------------------------------- */
/* ----------------PROJECTS STYLING----------------------- */
/* ------------------------------------------------------- */

.projects {
  /* background-color: pink; */
  margin-top: 50px;
  text-align: center;
}

.projects-bar {
  /* background-color: lightgreen; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.project-element {
  /* background-color: lightblue; */
  box-shadow: 0px 0px 2px lightgrey;
  border-radius: 10px;
  width: 32%;
  height: 300px;
}

.project-image-container {
  /* background-color: #5a5a5a; */
  border-radius: 10px 10px 0 0;
  height: 85%;
  position: relative;
  /* align-items: center; */
}

.project-image-container img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.project-image-container:hover .project-image {
  cursor: pointer;
  filter: brightness(50%);
}

.projects-links {
  /* background-color: pink; */
  opacity: 0;
  position: absolute;
  display: flex;
  top: 30%;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 30%;
  transition: 0.4s;
}

.project-image-container:hover .projects-links {
  opacity: 1;
}

.projects-links-github {
  /* background-color: lightcyan; */
  text-align: right;
  font-family: "Montserrat Bold", arial;
  width: 45%;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  line-height: 75px;
  transition: 0.5s;
}

.projects-links-hr {
  background-color: white;
  width: 1px;
}

.projects-links-check {
  /* background-color: lightblue; */
  text-align: left;
  font-family: "Montserrat Bold", arial;
  width: 45%;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  line-height: 75px;
  transition: 0.5s;
}

.projects-links-github:hover,
.projects-links-check:hover {
  color: lightgrey;
  /* text-decoration: underline; */
}

.project-element-text {
  /* background-color: lightcyan; */
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;

  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #363636;
}

.project-name {
  margin-left: 20px;
  line-height: 45px;
}

.project-year {
  margin-right: 20px;
  line-height: 45px;
}

.project-button {
  margin-top: 30px;
  background-color: white;
  border: 2px solid #363636;
  border-radius: 30px;
  padding: 10px;

  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #363636;

  transition: 0.3s;
}

.project-button:hover {
  cursor: pointer;
  background-color: #363636;
  color: white;
}
/* ---------------------------------------------------------- */
/* ----------------EXPERIENCES STYLING----------------------- */
/* ---------------------------------------------------------- */

.experiences {
  /* background-color: pink; */
  margin-top: 50px;
  text-align: center;
}

.experiences-title {
  /* background-color: yellow; */

  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #363636;
}

.experiences-content {
  /* background-color: lightgreen; */
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.experiences-paragraph-title {
  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #363636;
  display: inline-block;
  margin-bottom: 20px;
}

.career-education {
  /* background-color: pink; */
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.career {
  /* background-color: lightcyan; */
  padding-bottom: 30px;
}

.education {
  width: 100%;
  padding-bottom: 10px;
}

.universities {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
}

.university-years {
  /* background-color: red; */
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #a1a1a1;
}

.university-speciality {
  /* background-color: lightgreen; */
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Montserrat Bold", arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #363636;
  padding-bottom: 5px;
}

.university-name {
  /* background-color: pink; */
  padding-bottom: 20px;
}

.experiences-hr {
  background-color: #a0a0a0;
  width: 1px;
}

.skills-languages {
  /* background-color: lightcyan; */
  width: 45%;
  text-align: left;
}

.skills {
  /* background-color: lightblue; */
  padding-bottom: 30px;
}

.skill-line:first-child {
  margin-top: 0px;
}

.skill-line {
  /* background-color: brown; */
  width: 100%;
  height: 20px;
  margin-top: 5px;
  display: flex;
}

.skill-name {
  /* background-color: lightgreen; */
  width: 25%;
}

.skill-bar-container {
  /* background-color: red; */
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.skill-bar {
  background-color: lightgrey;
  width: 100%;
  height: 40%;
}

.skill-level {
  background-color: #5e5e5e;
  height: 100%;
}

/* ----------------------------------------------------- */
/* ----------------FOOTER STYLING----------------------- */
/* ----------------------------------------------------- */

.footer {
  background-color: #292929;
  color: white;
  margin-top: 50px;
  height: 45px;
  display: flex;
  align-items: center;
}

.footer-text {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 300;
}
